VirtualTourist/Secrets.swift
._VirtualTourist.xcodeproj
VirtualTourist/Base.lproj/._Main.storyboard
VirtualTourist.xcodeproj/._project.pbxproj
VirtualTourist.xcodeproj/._project.xcworkspace
VirtualTourist.xcodeproj/project.xcworkspace/xcuserdata/
VirtualTourist.xcodeproj/xcshareddata/
VirtualTourist.xcodeproj/xcuserdata/gerrylow.xcuserdatad/xcdebugger/
VirtualTourist/._DataController.swift
VirtualTourist/._FlickrClient.swift
VirtualTourist/._Info.plist
VirtualTourist/._MapRegion.swift
VirtualTourist/._PhotoAlbumViewController.swift
VirtualTourist/._TravelLocationsMapViewController.swift
VirtualTourist/._Secrets.swift
VirtualTourist/VirtualTourist.xcdatamodeld/._VirtualTourist.xcdatamodel